<!DOCTYPE html>
<title>Login  -  Examination</title>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class='head'>
        <div id='logo'>
            <img src="/static/image/logo.jpg" name='logo'/>
            <img src="/static/image/logo_sk.jpg" name='logo_sk'/>
        </div>
        <div id='salgon'>
            <p>Saic Volkswagen</p>
        </div>
    </div>
    <div class='body'>
        <div id='pic'>
            <img src='/static/image/1.jpg' name='loginImage'/>
        </div>
        <div id='loginForm'>
            <form method="post">
                <label for="username" class="username">用户名：</label>
                <input name="username" id="username" required>
                <br/>
                <label for="pwd" class='pwd'>密码：</label>
                <input name="pwd" id="pwd" type="password" required>
                <input type="submit" value="Login" id='submit'>
            </form>
        </div>
    </div>
    <div class='head'></div>
</body>